# 🚗 Car Price Prediction using Machine Learning

This notebook presents a machine learning project aimed at predicting the price of cars based on various features like make, model, mileage, engine specs, and more.

In [3]:
import pandas as pd

## 📂 Dataset Overview

We are using a dataset named `cars_ds_final_2021.csv` which includes the following relevant features:
- Make
- Model
- Variant
- Ex-Showroom_Price
- Displacement
- Cylinders
- Fuel_Type
- Ground_Clearance
- Power
- Torque
- Type
- ARAI_Certified_Mileage

In [4]:
car = pd.read_csv('cars_ds_final_2021.csv')

In [5]:
car=car[['Make', 'Model', 'Variant', 'Ex-Showroom_Price', 'Displacement', 'Cylinders','Fuel_Type','Ground_Clearance','Power','Torque','Type','ARAI_Certified_Mileage']]

## 🧼 Data Preprocessing

Here, we clean and prepare the data for modeling. This includes selecting relevant columns and handling missing values if any.

In [6]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1267 entries, 0 to 1266
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Make                    1192 non-null   object
 1   Model                   1267 non-null   object
 2   Variant                 1267 non-null   object
 3   Ex-Showroom_Price       1267 non-null   object
 4   Displacement            1255 non-null   object
 5   Cylinders               1201 non-null   float64
 6   Fuel_Type               1267 non-null   object
 7   Ground_Clearance        977 non-null    object
 8   Power                   1267 non-null   object
 9   Torque                  1265 non-null   object
 10  Type                    1266 non-null   object
 11  ARAI_Certified_Mileage  1151 non-null   object
dtypes: float64(1), object(11)
memory usage: 118.9+ KB

In [7]:
car["Ex-Showroom_Price"]=(
    car["Ex-Showroom_Price"]
        .str.replace("Rs", "",regex=False)
        .str.replace(".", "",regex=False)
        .str.replace(",","",regex=False)
        .str.strip()
        .astype(int)
)

In [8]:
car['Displacement']=car['Displacement'].str.replace('cc','',regex=False)

In [9]:
car['Ground_Clearance']=car['Ground_Clearance'].str.replace("mm","",regex=False)

In [10]:
car['Power']=car['Power'].str.extract(r'(\d+)')

In [11]:
car["Torque"]=car["Torque"].str.extract(r'(\d+)')

In [12]:
car['ARAI_Certified_Mileage']=car['ARAI_Certified_Mileage'].str.extract(r'(\d+)')

In [13]:
car=car[car["Ex-Showroom_Price"]<5000000]

In [14]:
car['Cylinders'] = car['Cylinders'].astype(float)

In [15]:
car['Cylinders'] = car['Cylinders'].astype('Int64')

In [16]:
car = car.drop(columns='Variant')

In [17]:
car

,Make,Model,Ex-Showroom_Price,Displacement,Cylinders,Fuel_Type,Ground_Clearance,Power,Torque,Type,ARAI_Certified_Mileage
0,Tata,Nano Genx,292667,624,2,Petrol,180,38,51,Manual,23
1,Tata,Nano Genx,236447,624,2,Petrol,180,38,51,Manual,23
2,Tata,Nano Genx,296661,624,2,CNG,180,38,51,Manual,NaN
3,Tata,Nano Genx,334768,624,2,Petrol,180,38,51,Automatic,21
4,Tata,Nano Genx,272223,624,2,Petrol,180,38,51,Manual,23
...,...,...,...,...,...,...,...,...,...,...,...
1258,Mahindra,Verito,748370,1461,4,Diesel,172,65,160,Manual,21
1259,Mahindra,Verito,772617,1461,4,Diesel,172,65,160,Manual,21
1260,Mahindra,Verito,845154,1461,4,Diesel,172,120,280,Manual,21
1264,Mahindra,Alturas G4,2770150,2157,4,Diesel,NaN,178,420,Automatic,12
1265,Mahindra,Alturas G4,3070150,2157,4,Diesel,NaN,178,420,Automatic,12

In [18]:
car= car.dropna(subset="Displacement")

In [19]:
car = car.dropna(subset="Make")

In [20]:
car = car.dropna(subset="Cylinders")

In [21]:
car.isnull().sum()

Make                        0
Model                       0
Ex-Showroom_Price           0
Displacement                0
Cylinders                   0
Fuel_Type                   0
Ground_Clearance          175
Power                       0
Torque                      1
Type                        0
ARAI_Certified_Mileage     56
dtype: int64

In [22]:
car = car.dropna(subset="Ground_Clearance")

In [23]:
car = car.dropna(subset="ARAI_Certified_Mileage")

In [24]:
car= car.dropna(subset="Torque")

In [25]:
car.isnull().sum()

Make                      0
Model                     0
Ex-Showroom_Price         0
Displacement              0
Cylinders                 0
Fuel_Type                 0
Ground_Clearance          0
Power                     0
Torque                    0
Type                      0
ARAI_Certified_Mileage    0
dtype: int64

In [26]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 728 entries, 0 to 1260
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Make                    728 non-null    object
 1   Model                   728 non-null    object
 2   Ex-Showroom_Price       728 non-null    int64
 3   Displacement            728 non-null    object
 4   Cylinders               728 non-null    Int64
 5   Fuel_Type               728 non-null    object
 6   Ground_Clearance        728 non-null    object
 7   Power                   728 non-null    object
 8   Torque                  728 non-null    object
 9   Type                    728 non-null    object
 10  ARAI_Certified_Mileage  728 non-null    object
dtypes: Int64(1), int64(1), object(9)
memory usage: 69.0+ KB

In [27]:
car['Displacement']=car['Displacement'].astype(int)

In [28]:
car['Ground_Clearance']=car['Ground_Clearance'].astype(int)

In [29]:
car['Power']=car['Power'].astype(int)

In [30]:
car['Torque']=car['Torque'].astype(int)

In [31]:
car['ARAI_Certified_Mileage']=car['ARAI_Certified_Mileage'].astype(int)

In [32]:
car['Model']=car['Model'].astype(str)

In [33]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 728 entries, 0 to 1260
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Make                    728 non-null    object
 1   Model                   728 non-null    object
 2   Ex-Showroom_Price       728 non-null    int64
 3   Displacement            728 non-null    int64
 4   Cylinders               728 non-null    Int64
 5   Fuel_Type               728 non-null    object
 6   Ground_Clearance        728 non-null    int64
 7   Power                   728 non-null    int64
 8   Torque                  728 non-null    int64
 9   Type                    728 non-null    object
 10  ARAI_Certified_Mileage  728 non-null    int64
dtypes: Int64(1), int64(6), object(4)
memory usage: 69.0+ KB

In [34]:
car.rename(columns={'Displacement': 'CC'}, inplace=True)

In [35]:
car["Type"].unique()

array(['Manual', 'Automatic', 'AMT', 'CVT', 'DCT'], dtype=object)

car['Type'] = car['Type'].str.replace("AMT", "Automatic")

In [36]:
car['Type'] = car['Type'].replace({
    'AMT': 'Auto',
    'CVT': 'Auto',
    'DCT': 'Auto',
    'Automatic': 'Auto',
    'Manual': 'Manual'
})

In [37]:
car['Type'].unique()

array(['Manual', 'Auto'], dtype=object)

In [38]:
car["Fuel_Type"].unique()

array(['Petrol', 'Diesel', 'Hybrid', 'CNG + Petrol'], dtype=object)

In [39]:
car['Fuel_Type']=car['Fuel_Type'].replace({
    "Hybrid":"Petrol",
    "CNG + Petrol" :"Petrol"
})

In [40]:
car["Fuel_Type"].unique()

array(['Petrol', 'Diesel'], dtype=object)

In [41]:
car.to_csv("final_car.csv",index=False)

In [42]:
car

,Make,Model,Ex-Showroom_Price,CC,Cylinders,Fuel_Type,Ground_Clearance,Power,Torque,Type,ARAI_Certified_Mileage
0,Tata,Nano Genx,292667,624,2,Petrol,180,38,51,Manual,23
1,Tata,Nano Genx,236447,624,2,Petrol,180,38,51,Manual,23
3,Tata,Nano Genx,334768,624,2,Petrol,180,38,51,Auto,21
4,Tata,Nano Genx,272223,624,2,Petrol,180,38,51,Manual,23
5,Tata,Nano Genx,314815,624,2,Petrol,180,38,51,Auto,21
...,...,...,...,...,...,...,...,...,...,...,...
1255,Jaguar,Xe,4633000,1999,4,Diesel,125,180,430,Auto,11
1256,Jaguar,Xe,4633000,1997,4,Petrol,125,250,365,Auto,11
1258,Mahindra,Verito,748370,1461,4,Diesel,172,65,160,Manual,21
1259,Mahindra,Verito,772617,1461,4,Diesel,172,65,160,Manual,21
1260,Mahindra,Verito,845154,1461,4,Diesel,172,120,280,Manual,21

In [43]:
car["Type"].unique()

array(['Manual', 'Auto'], dtype=object)

In [44]:
car

,Make,Model,Ex-Showroom_Price,CC,Cylinders,Fuel_Type,Ground_Clearance,Power,Torque,Type,ARAI_Certified_Mileage
0,Tata,Nano Genx,292667,624,2,Petrol,180,38,51,Manual,23
1,Tata,Nano Genx,236447,624,2,Petrol,180,38,51,Manual,23
3,Tata,Nano Genx,334768,624,2,Petrol,180,38,51,Auto,21
4,Tata,Nano Genx,272223,624,2,Petrol,180,38,51,Manual,23
5,Tata,Nano Genx,314815,624,2,Petrol,180,38,51,Auto,21
...,...,...,...,...,...,...,...,...,...,...,...
1255,Jaguar,Xe,4633000,1999,4,Diesel,125,180,430,Auto,11
1256,Jaguar,Xe,4633000,1997,4,Petrol,125,250,365,Auto,11
1258,Mahindra,Verito,748370,1461,4,Diesel,172,65,160,Manual,21
1259,Mahindra,Verito,772617,1461,4,Diesel,172,65,160,Manual,21
1260,Mahindra,Verito,845154,1461,4,Diesel,172,120,280,Manual,21

In [45]:
import pandas as pd

# Load your dataset
car = pd.read_csv("final_car_with_weight.csv")

# Define weight map
weight_map = {
    'Nano Genx': 735, 'Redi-Go': 800, 'Kwid': 825, 'Eeco': 940, 'Alto K10': 740, 'Go': 850,
    'Celerio Tour': 830, 'Tiago': 930, 'Celerio X': 850, 'Ignis': 860, 'Triber': 960,
    'Rio': 1080, 'Etios Liva': 950, 'Micra Active': 1030, 'Bolt': 1100, 'Xcent Prime': 1050,
    'Dzire Tour': 990, 'Elite I20': 1080, 'Polo': 1050, 'Dzire': 980, 'Freestyle': 1060,
    'Ameo': 1065, 'Platinum Etios': 1090, 'Etios Cross': 1080, 'Verito Vibe': 1140,
    'Urban Cross': 1195, 'Avventura': 1195, 'Jazz': 1040, 'Bolero Power Plus': 1620,
    'Vitara Brezza': 1170, 'I20 Active': 1085, 'Ecosport': 1200, 'Duster': 1235,
    'Verna': 1155, 'Xuv300': 1320, 'Lodgy': 1360, 'Vento': 1120, 'Brv': 1205, 'Thar': 1700,
    'Gurkha': 1900, 'Abarth Avventura': 1180, 'Scorpio': 1820, 'Monte Carlo': 1140,
    'Xuv500': 1785, 'Hexa': 1990, 'Innova Crysta': 1805, 'Corolla Altis': 1300,
    'Superb': 1500, 'Outlander': 1650, 'V40': 1500, 'Fortuner': 2180, 'Pajero Sport': 2150,
    'Endeavour': 2410, 'V40 Cross Country': 1540, 'Kodiaq Scout': 1795, 'X1': 1465,
    'S60': 1620, '3-Series': 1480, 'Accord Hybrid': 1625, 'S60 Cross Country': 1660,
    'Prius': 1400, 'Alto': 730, 'Celerio': 830, 'Grand I10 Prime': 950, 'Kuv100 Nxt': 1085,
    'Swift': 960, 'Altroz': 1030, 'Extreme': 1150, 'Tigor': 1035, 'Zest': 1110, 'Amaze': 940,
    'Gypsy': 985, 'Venue': 1100, 'Nexon': 1188, 'Linea': 1210, 'Ertiga': 1150,
    'Baleno Rs': 950, 'Wr-V': 1104, 'Tuv300': 1620, 'S-Cross': 1250, 'Captur': 1300,
    'Xylo': 1830, 'Seltos': 1290, 'Terrano': 1240, 'Safari Storme': 2000, 'Hector': 1700,
    'Mu-X': 1900, 'Tiguan': 1700, 'Superb Sportline': 1550, 'Kodiaq': 1800, 'Q3': 1650,
    'Clubman': 1500, 'Omni': 785, 'Punto Evo Pure': 1050, 'Baleno': 950, 'Grand I10': 950,
    'Linea Classic': 1210, 'Bolero': 1630, 'Ciaz': 1030, 'Rapid': 1140, 'Abarth Punto': 1100,
    'Creta': 1240, 'Harrier': 1675, 'Dmax V-Cross': 1950, 'Cr-V': 1550, 'Alto 800 Tour': 725,
    'Grand I10 Nios': 940, 'Xcent': 1045, 'Micra': 1030, 'Nuvosport': 1700, 'Kicks': 1300,
    'A3': 1440, 'Tiago Nrg': 935, 'Yaris': 1120, 'Octavia': 1350, 'Avanti': 1560,
    'Punto Evo': 1080, 'City': 1107, 'Xe': 1650, 'Verito': 1140
}

# Fill the Weight column based on the model
car['Weight'] = car['Model'].map(weight_map)

# Save the new file
car.to_csv("final_car_with_filled_weight.csv", index=False)
print("✅ Done! Saved as final_car_with_filled_weight.csv")

✅ Done! Saved as final_car_with_filled_weight.csv

In [46]:
# Ensure Power column is string type
car['Power'] = car['Power'].astype(str)

# Now extract the numeric part safely
car['BHP'] = car['Power'].str.extract(r'(\d+)').astype(float)

In [47]:
# Calculate Power-to-Weight ratio
car['Power_to_Weight'] = (car['BHP'] / car['Weight']) * 1000

# Classify performance
def classify_performance(p2w):
    if p2w >= 100:
        return 'High'
    elif p2w >= 70:
        return 'Medium'
    else:
        return 'Low'

car['Performance_Class'] = car['Power_to_Weight'].apply(classify_performance)

# Save final CSV
car.to_csv("final_car_with_performance.csv", index=False)

In [48]:
import pandas as pd

car = pd.read_csv("final_car_with_performance.csv")

In [49]:
car

,Name,Model,Ex-Showroom_Price,CC,Cylinders,Fuel_Type,Ground_Clearance,Power,Torque,Type,ARAI_Certified_Mileage,Weight,BHP,Power_to_Weight,Performance_Class
0,Tata,Nano Genx,292667,624,2,Petrol,180,38,51,Manual,23,735,38.0,51.700680,Low
1,Tata,Nano Genx,236447,624,2,Petrol,180,38,51,Manual,23,735,38.0,51.700680,Low
2,Tata,Nano Genx,334768,624,2,Petrol,180,38,51,Auto,21,735,38.0,51.700680,Low
3,Tata,Nano Genx,272223,624,2,Petrol,180,38,51,Manual,23,735,38.0,51.700680,Low
4,Tata,Nano Genx,314815,624,2,Petrol,180,38,51,Auto,21,735,38.0,51.700680,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,Jaguar,Xe,4633000,1999,4,Diesel,125,180,430,Auto,11,1650,180.0,109.090909,High
724,Jaguar,Xe,4633000,1997,4,Petrol,125,250,365,Auto,11,1650,250.0,151.515152,High
725,Mahindra,Verito,748370,1461,4,Diesel,172,65,160,Manual,21,1140,65.0,57.017544,Low
726,Mahindra,Verito,772617,1461,4,Diesel,172,65,160,Manual,21,1140,65.0,57.017544,Low
727,Mahindra,Verito,845154,1461,4,Diesel,172,120,280,Manual,21,1140,120.0,105.263158,High

In [50]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Load dataset
df = pd.read_csv("final_car_with_performance.csv")

# Drop nulls
df = df.dropna(subset=['Ex-Showroom_Price', 'CC', 'Cylinders', 'Fuel_Type', 'Ground_Clearance', 'BHP', 'Type', 'ARAI_Certified_Mileage', 'Weight'])

# Encode categorical features
le_fuel = LabelEncoder()
le_type = LabelEncoder()

df['Fuel_Type'] = le_fuel.fit_transform(df['Fuel_Type'])
df['Type'] = le_type.fit_transform(df['Type'])

# Features and target
features = ['CC', 'Cylinders', 'Fuel_Type', 'Ground_Clearance', 'BHP', 'ARAI_Certified_Mileage', 'Type', 'Weight']
X = df[features]
y = df['Ex-Showroom_Price']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model training
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

# Evaluation
y_pred = model.predict(X_test)
r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)

print(f"✅ R² Score: {r2:.2f}")
print(f"📉 Mean Squared Error: {mse:.2f}")

✅ R² Score: 0.88
📉 Mean Squared Error: 105641126706.56

In [51]:
import numpy as np
rmse = np.sqrt(mse)
print(f"🧮 Root Mean Squared Error: ₹{rmse:,.2f}")

🧮 Root Mean Squared Error: ₹325,024.81

In [52]:
# 🔮 Sample user input
user_input = {
    'CC': 1197,
    'Cylinders': 3,
    'Fuel_Type': 'Petrol',
    'Ground_Clearance': 170,
    'BHP': 83,
    'ARAI_Certified_Mileage': 20.0,
    'Type': 'Manual',
    'Weight': 950
}


# ✨ Encode categorical features
fuel_encoded = le_fuel.transform([user_input['Fuel_Type']])[0]
type_encoded = le_type.transform([user_input['Type']])[0]

# 🔄 Create feature array
X_new = [[
    user_input['CC'],
    user_input['Cylinders'],
    fuel_encoded,
    user_input['Ground_Clearance'],
    user_input['BHP'],
    user_input['ARAI_Certified_Mileage'],
    type_encoded,
    user_input['Weight']
]]

# 💸 Predict the price
predicted_price = model.predict(X_new)[0]
print(f"💸 Predicted Ex-Showroom Price: ₹{predicted_price:,.0f}")
# 💡 Suggest similar cars within ±₹50,000 of predicted price
price_range = 50000  # You can increase/decrease this
lower_limit = predicted_price - price_range
upper_limit = predicted_price + price_range

# Filter dataset for cars in that price range
suggested_cars = car[
    (car['Ex-Showroom_Price'] >= lower_limit) &
    (car['Ex-Showroom_Price'] <= upper_limit)
]

# Sort by how close the price is to prediction
suggested_cars['Price_Diff'] = abs(suggested_cars['Ex-Showroom_Price'] - predicted_price)
suggested_cars = suggested_cars.sort_values('Price_Diff')

# 🖨️ Show top 5 recommendations
print("\n🚗 Cars you might like in this price range:\n")
print(suggested_cars[['Name', 'Model', 'Ex-Showroom_Price', 'Fuel_Type', 'BHP', 'Type']].head(5))

💸 Predicted Ex-Showroom Price: ₹633,440

🚗 Cars you might like in this price range:

              Name       Model  Ex-Showroom_Price Fuel_Type   BHP    Type
105        Hyundai   Elite I20             634950    Petrol  84.0  Manual
708           Fiat   Punto Evo             631292    Diesel  76.0  Manual
382       Mahindra  Kuv100 Nxt             631146    Petrol  82.0  Manual
375       Mahindra  Kuv100 Nxt             631144    Petrol  82.0  Manual
61   Maruti Suzuki       Ignis             630320    Petrol  83.0    Auto

C:\Users\bhagw\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
C:\Users\bhagw\AppData\Local\Temp\ipykernel_14160\1683928623.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  suggested_cars['Price_Diff'] = abs(suggested_cars['Ex-Showroom_Price'] - predicted_price)

In [53]:
pip install joblib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: joblib in c:\users\bhagw\appdata\roaming\python\python310\site-packages (1.5.1)
Note: you may need to restart the kernel to use updated packages.

In [54]:
import joblib

# Save model
joblib.dump(model, 'car_price_model.pkl')

# Save label encoders
joblib.dump(le_fuel, 'fuel_encoder.pkl')
joblib.dump(le_type, 'type_encoder.pkl')

['type_encoder.pkl']

## 🤖 Model Training

We will use a simple Linear Regression model to predict the car prices.

## 📊 Model Evaluation

We will evaluate the model using R² Score to measure its accuracy.

## ✅ Conclusion

This notebook successfully demonstrates a car price prediction pipeline using Linear Regression. Further improvement can be achieved using advanced regression algorithms and hyperparameter tuning.